body{
    text-align: center;
    background: linear-gradient(to bottom, #FFB6C1, #FFE4E1, #FFB6C1);

}
.press-start-2p-regular {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.btn{
    height: 220px;
    width: 220px;
    border: 5px solid black;
    margin: 5px 5px 0px 0px;
}
.b-red{
    border-top-left-radius: 100%;
}
.b-yellow{
    border-bottom-left-radius: 100%;
}
.b-green{
    border-top-right-radius: 100%;
}
.b-purple{
    border-bottom-right-radius: 100%;
}
#start-container {
    height: 30px; /* Same height as the start button */
    width: 100px; /* Same width as the start button */
    margin-top: 10px;
    margin: auto;
}
#start {
    height: 100%;
    width: 100%;
    background-color: yellowgreen;
}
.btn-container{   
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: blue;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: black;
}
.simon-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #333333; /* Light background */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.simon-text {
    font-family: "Press Start 2P", serif;
    font-size: 25px;
    color: beige;
    text-align: center;
    margin: 0;
}
#gameover{
    font-family: "Press Start 2P", serif;
}